[*.{cs,vb}]

# private symbols
dotnet_naming_symbols.private_symbols.applicable_accessibilities 	= private,internal

# underscore prefix
dotnet_naming_style.underscore_prefix.capitalization				= camel_case
dotnet_naming_style.underscore_prefix.required_prefix				= _

# private member underscore prefix
dotnet_naming_style.private_must_have_underscore_prefix.symbols		= private_symbols
dotnet_naming_style.private_must_have_underscore_prefix.symbols		= underscore_prefix
dotnet_naming_style.private_must_have_underscore_prefix.severity	= suggestion