.main-content h1+p, .main-content h2+p, .main-content h3+p, .main-content h4+p, .main-content h5+p, .main-content h6+p {
  margin-top:revert
}

.label-pink {
  background-color: pink;
  color: black;
}
